@use "../../scss" as *;

.Glow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-black;
  opacity: 0;
  transition: opacity 300ms ease-in-out, z-index 300ms ease-in-out;
  z-index: -1;

  &--active {
    opacity: 0.5;
    z-index: 7000;
  }
}
