@use "../../scss" as *;

.Header {
  display: flex;
  flex-direction: row;
  flex-basis: 100px;
  flex-shrink: 0;
  padding: 20px;

  &__hamburger-btn,
  &__notifications-btn {
    @include flex-jc-ai-c;

    flex-basis: 60px;
  }

  &__hamburger-btn {
    z-index: 9000;
  }

  &__notifications-btn {
    z-index: 6000;
  }

  &__hamburger-inner {
    @include flex-jc-ai-c;

    flex-direction: column;
    height: 70%;
    transition: transform 300ms ease-in-out;
    width: 70%;
  }

  &__hamburger-line {
    position: relative;
    transition: transform 300ms ease-in-out;
  }

  &__hamburger-line:nth-child(1) {
    @include hamburger-line($color-white, 50%);

    top: -10px;
  }

  &__hamburger-line:nth-child(2) {
    @include hamburger-line($color-white, 100%);
  }

  &__hamburger-line:nth-child(3) {
    @include hamburger-line($color-white, 50%);

    top: 10px;
  }

  &__hamburger-btn--active &__hamburger-inner {
    transform: rotate(-45deg);
    transform-origin: center;
  }

  &__hamburger-btn--active &__hamburger-line {
    &:nth-child(1) {
      transform: rotate(90deg) translateX(2px);
      transform-origin: center;
    }

    &:nth-child(3) {
      transform: rotate(90deg) translateX(-2px);
      transform-origin: center;
    }
  }

  &__current-page-wrapper {
    @include flex-jc-ai-c;

    flex: 1;
  }

  &__current-page {
    font-size: 1.5rem;
  }

  &__notifications-inner {
    @include flex-jc-ai-c;

    height: 70%;
    position: relative;
    width: 70%;

    &:active {
      top: 5px;
    }
  }

  &__notifications-bell {
    color: $color-white;
    font-size: 2rem;
  }

  &__notifications-badge {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: $color-red;
    color: $color-white;
    font-size: 0.7rem;
    transform: translate(7px, -10px);
  }

  /* Responsive */
  @include breakpoint($screen-lg) {
    display: none;
  }
}
