@use "./scss" as *;

/* Global styles */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Quicksand-Medium, sans-serif;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

input {
  background-color: transparent;
  border: 0;
  padding: 0;

  &:focus {
    outline: 0;
  }
}
