/* Colours */
$color-white: #fff;
$color-black: #000;
$color-background: #0e1015;
$color-grey: #b2b2b2;
$color-green: #00ba7a; // feature means the colour is used by ::before, ::after etc.
$color-red: #ff0000;
$color-purple: #4d00ff;

/* Breakpoints */
$screen-xs: 375px; // phones
$screen-sm: 576px; // large phones (landscape) and small tablets
$screen-md: 768px; // small tablets (portrait)
$screen-lg: 992px; // tablets and small desktops
$screen-xl: 1200px; // large tables and desktops
$screen-xxl: 1400px; // large desktops
